<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <%= link_to(image_tag("logo.svg", class: "logo_img", alt: "Олимп сервис", width: 153, height: 88), root_path, class: "logo_link") %>
      </div>
      <div class="col-lg-7">
        <nav class="main_menu">
          <ul class="ul_main_menu">
            <li><%= link_to('Услуги', services_path) %></li>
            <li><%= link_to('Контакты', contacts_path) %></li>
            <li><%= link_to('Наши работы', our_works_path) %></a></li>
            <li><%= link_to('О нас', about_us_path) %></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="telephone">
          <p><span class="glyphicon glyphicon-earphone"></span><%= link_to('8 (812) 220-32-96', 'tel:88122203296') %></p>
        </div>
        <div class="form_button" >
          <span class="glyphicon glyphicon-bullhorn"></span><%= link_to('Оставить заявку', '#', { 'data-toggle' => 'modal', 'data-target' => '#modal_window'}) %>
        </div>
      </div>
    </div>
  </div>
</header>
