<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="owl-carousel owl-theme">
        <div>
          <%= image_tag("brands/jika.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/roca.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/cersanit.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/jika.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/roca.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/cersanit.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/jika.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/roca.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
        <div>
          <%= image_tag("brands/cersanit.svg", height: '78', width: '203', class: "slider_img", alt: "") %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <script type="text/javascript" src="//vk.com/js/api/openapi.js?139"></script>

      <!-- VK Widget -->
      <div id="vk_groups"></div>
      <script type="text/javascript">
      VK.Widgets.Group("vk_groups", {mode: 3, width: "350"}, 131906387);
      </script>
    </div>
  </div>
</div>
