<div class="container">
  <div class="row">
    <div class="slider col-lg-12">
      <%= render(:partial => 'partials/carousel') %>
    </div>
  </div>
  <main>
    <section>
      <div class="row">
        <div class="col-lg-12">
          <div class="wrap_h2">
            <h2 class="header_h2">Почему выберают нас?</h2>
          </div>
        </div>
        <div class="wrap_trigger col-lg-4">
          <div class="trigger">
            <%= image_tag("triggers/clock.svg", height: '100', width: '100', class: "triggers_img", alt: "Скорость работы") %>
          </div>
          <p>Выезд на адрес в день заказа</p>
        </div>
        <div class="wrap_trigger col-lg-4">
          <div class="trigger">
            <%= image_tag("triggers/cup.svg", height: '100', width: '100', class: "triggers_img", alt: "Гарантия") %>
          </div>
          <p>Гарантия на работы 2 года</p>
        </div>
        <div class="wrap_trigger col-lg-4">
          <div class="trigger">
            <%= image_tag("triggers/hat.svg", height: '100', width: '100', class: "triggers_img", alt: "Профессионализм") %>
          </div>
          <p>Мы профессионалы</p>
        </div>
      </div>
    </section>
    <hr class="horisontal_separator">
    <section>
      <div class="row">
        <div class="col-lg-12">
          <div class="wrap_h2">
            <h2 class="header_h2">Мы выполняем:</h2>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/key.svg", class: "element_menu_img", alt: "Ключ") %>
              <p>Ремонт сантехнического оборудования</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/sink.svg", class: "element_menu_img", alt: "Раковина") %>
              <p>Монтаж раковины и мойки</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/mixer.svg", class: "element_menu_img", alt: "Смеситель") %>
              <p>Монтаж и ремонт смесителей</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/pipe.svg", class: "element_menu_img", alt: "Трубы") %>
              <p>Монтаж и замена труб, стояков</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/radiator.svg", class: "element_menu_img", alt: "Радиатор") %>
              <p>Монтаж и замена радиаторов отопления</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/coil.svg", class: "element_menu_img", alt: "Полотенцесушитель") %>
              <p>Монтаж полотенцесушителей</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/shower.svg", class: "element_menu_img", alt: "Душевая кабина") %>
              <p>Сборка и монтаж душевой кабины</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/toilet.svg", class: "element_menu_img", alt: "Унитаз") %>
              <p>Монтаж и замена ванны и унитаза</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/installation.svg", class: "element_menu_img", alt: "Монтаж") %>
              <p>Профессиональный монтаж сантехники</p>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= link_to root_path, class: "element_menu" do %>
              <%= image_tag("elements_menu/service.svg", class: "element_menu_img", alt: "Обслуживание сантехники") %>
              <p>Техническое обслуживание сантехники</p>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
