<!DOCTYPE html>
<html>
  <head>
    <title> Олимп | <%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- tags for bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- insert header-->
    <%= render(:partial => 'partials/header') %>

    <!-- insert form-->
    <%= render(:partial => 'forms/form') %>


    <!-- before yield -->
      <%= yield %>
    <!-- after yield -->

  </body>
</html>
